.button {
  display: block;
  padding: 14px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #011C40;
  background-color: #F9FBFD;
  border: none;
  cursor: pointer;
}
