.cruises {
  max-width: 1366px;
  padding: 110px 118px 120px;
  margin: 0 auto;

  @include vp-1365 {
    padding: 91px 60px 101px;
  }

  @include vp-767 {
    padding: 58px 25px 65px;
  }
}

.cruises__title {
  text-align: center;
  margin-bottom: 49px;

  @include vp-1365 {
    margin-bottom: 50px;
  }

  @include vp-767 {
    margin-bottom: 32px;
  }
}

.cruises__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cruises__item {
  position: relative;
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);
  cursor: pointer;
  color: #f9fbfd;
  overflow: hidden;

  &:hover {
    overflow: visible;
  }

  &:hover .cruises__item-desc,
  &:focus-within .cruises__item-desc {
    background-color: #011c40;
    top: 0;
    transition: 0.2s;
    padding: 26px 25px 35px;
    z-index: 1;

    @include vp-1365 {
      padding: 30px 35px 35px;
    }

    @include vp-767 {
      padding: 30px 25px 35px;
    }
  }

  &:hover .cruises__item-desc h3,
  &:focus-within .cruises__item-desc h3 {
    margin: 0 0 13px;
  }
}

.cruises__item img {
  object-fit: cover;
  height: 386px;

  @include vp-1365 {
    width: 309px;
  }

  @include vp-767 {
    width: 270px;
  }
}

.cruises__item-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 310px;
  padding: 28px 30px 28px;
  width: 100%;
  min-height: 100%;

  @include vp-1365 {
    top: 305px;
    padding: 28px 35px 25px;
  }

  @include vp-767 {
    top: 315px;
    padding: 28px 25px 35px;
  }
}

.cruises__item-desc h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 50px;
}

.cruises__item-characteristics {
  margin: 0 0 26px;
}

.cruises__item-characteristics dt,
.cruises__item-characteristics dd {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

.cruises__item-characteristics dd {
  font-weight: 400;
  color: #d8d8d9;
  margin: 0 0 12px;

  &:last-child {
    margin-bottom: 0;
  }
}
