.footer {
  display: flex;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 46px 103px;
  background: #011c40;
  align-items: center;

  @include vp-1365 {
    padding: 45px 45px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    min-width: 320px;
    padding: 40px 15px 35px;
  }
}

.footer__logo {
  margin-top: 3px;
  margin-right: 40px;

  @include vp-1365 {
    margin-right: 25px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 9px;
  }
}

.footer__nav {
  margin-right: auto;
  color: #f9fbfd;

  @include vp-767 {
    gap: 0;
    margin-bottom: 15px;
  }
}

.footer__nav-item a {
  @include vp-1365 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    padding: 8px 0;
    font-size: 12px;
    line-height: 15px;
    color: #f9fbfd;
  }
}

.footer__social {
  padding-top: 5px;
}
