.footer {
  background: #011c40;
  min-width: 320px;
}

.footer__wrapper {
  display: flex;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 46px 103px;

  @include vp-1023 {
    padding: 43px 45px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-end;
    padding: 35px 15px;
  }

  @include vp-320 {
    align-items: flex-start;
  }
}

.footer__logo {
  margin-top: 3px;
  margin-right: 40px;

  @include vp-1023 {
    margin-top: 5px;
    margin-right: 25px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 13px;
  }
}

.footer__nav {
  margin-right: auto;
  padding-top: 5px;
  color: #f9fbfd;

  @include vp-1023 {
    padding-top: 0;
  }

  @include vp-767 {
    gap: 0;
    margin-bottom: 20px;
    margin-right: 0;
    align-items: flex-end;
  }

  @include vp-320 {
    align-items: flex-start;
  }
}

.footer__nav-item a {
  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    padding: 8px 0;
    font-size: 12px;
    line-height: 15px;
    color: #f9fbfd;
  }
}

.footer__social {
  padding-top: 15px;
  margin-left: 30px;

  @include vp-1023 {
    padding-top: 7px;
  }

  @include vp-767 {
    padding-top: 0;
    margin-left: 0;
  }

  @include vp-320 {
    transform: translateX(-6px);
  }
}
