.nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 33px;
  &:last-child {
    margin-right: 0;
  }

  & a {
    display: block;
    padding: 10px;
    color: #F9FBFD;
    text-decoration: none;
  }
}

