.page {
  font-family: "montserrat", "tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 24px;
}

.page__body {
  min-height: 100%;
  background-color: #f9fbfd;
  color: #011c40;
  scroll-behavior: smooth;
  word-wrap: break-word;
}
