.social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social__item {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1365 {
    margin-right: 23px;
  }
}

.social__link {
  display: block;

  &:hover {
    opacity: 0.5;
  }
}

.social__link-icon {
  @include vp-1365 {
    &_facebook {
      width: 9px;
      height: 16px;
    }

    &_instagram {
      width: 16px;
      height: 16px;
    }

    &_twitter {
      width: 16px;
      height: 13px;
    }
  }
}
