.social__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20px);
  column-gap: 26px;
  row-gap: 15px;
  min-width: 107px;
  max-width: 260px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @include vp-1023 {
    grid-template-columns: repeat(auto-fit, 16px);
    min-width: 87px;
    max-width: 150px;
    column-gap: 23px;
  }

  @include vp-767 {
    max-width: 260px;
    column-gap: 21px;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
}

.social__link {
  display: block;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.social__link-icon {
  @include vp-1023 {
    &_facebook {
      width: 9px;
      height: 16px;
    }

    &_instagram {
      width: 16px;
      height: 16px;
    }

    &_twitter {
      width: 16px;
      height: 13px;
    }
  }
}
